<main>
    <div class="container">
        <h3>Creá un personaje para empezar una historia</h3>

    <!--<div class="characters">
        <div class="character" *ngFor="let character of characters">
            <img src="{{character.image}}" alt="{{character.name}}">
            <h4>{{character.name}}</h4>
            <p>{{character.description}}</p>
            <button (click)="deleteCharacter(character.id)">Eliminar</button>
        </div>
    -->

    <div class="character-cards">
        <app-non-character-card></app-non-character-card>
        <app-non-character-card></app-non-character-card>
        <app-non-character-card></app-non-character-card>
    </div>

    </div>
</main>