.character-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main{
    padding: 1% 10%;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

