.character-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: title-load 500ms ease-in 800ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.container{
    margin: 2rem 0;
}

main{
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(40px);
    padding: 3rem;
    margin: 0 10%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    animation: card-load 300ms ease-in 300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin: 0 10% 0 10%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(50px);
    padding: 1rem 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    animation: card-load 300ms ease-in 300ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes title-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes card-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1600px){
    h3{
        font-size: 1.5rem;
    }
    main{
        padding: 2rem;
    }
    .container{
    margin: 1rem 0;
}
}

@media (max-width: 1300px){

    .character-cards{
        display: block;
    }
}
