<div class="card-container">
  <!-- PERSONAJE 1 -->
  <div class="card character" *ngIf="character1 && !jugar1">
    <img
      [src]="character1.photoURL"
      alt="Sin imagen"
      *ngIf="!showCharacter1Stats"
    />
    <p>{{ character1.nombre }}</p>
    <p class="char-info">{{ character1.especie }} - {{ character1.rol }}</p>

    <div class="buttons">
      <button
        class="delete-btn"
        (click)="deleteUserChar(1)"
        *ngIf="!showCharacter1Stats"
      >
        Delete
      </button>
      <button
        class="stats-btn"
        (click)="showStatsButton(1)"
        *ngIf="!showCharacter1Stats"
      >
        Stats
      </button>
      <button class="play-btn" *ngIf="!showCharacter1Stats" (click)="jugar(1)">Play</button>
    </div>
    <div *ngIf="showCharacter1Stats">
      <p>Strenght: {{ fuerza }}</p>
      <p>Dexterity: {{ destreza }}</p>
      <p>intelligence: {{ inteligencia }}</p>
      <p>Charisma: {{ carisma }}</p>
      <p>Courage: {{ coraje }}</p>
      <button (click)="hideStatistics(1)">Back</button>
    </div>
  </div>
  <div class="card" *ngIf="character1 === undefined && !crear1">
    <a (click)="showCharacterComponent(1)">+</a>
    <p class="crear">NEW</p>
  </div>

  <app-character-creation class="card" *ngIf="crear1 && ocultarCreacion" (ocultar)="ocultarComponente($event)"></app-character-creation>
  <app-story-creation [charSlot]="1" class="card" *ngIf="jugar1" (ocultar)="ocultarJugarComponente($event)"></app-story-creation> 

  <!-- PERSONAJE 2 -->
  <div class="card character" *ngIf="character2 && !jugar2">
    <img
      [src]="character2.photoURL"
      alt="Sin imagen"
      *ngIf="!showCharacter2Stats"
    />
    <p>{{ character2.nombre }}</p>
    <p class="char-info">{{ character2.especie }} - {{ character2.rol }}</p>

    <div class="buttons">
      <button
        class="delete-btn"
        (click)="deleteUserChar(2)"
        *ngIf="!showCharacter2Stats"
      >
        Delete
      </button>
      <button
        class="stats-btn"
        (click)="showStatsButton(2)"
        *ngIf="!showCharacter2Stats"
      >
        Stats
      </button>
      <button class="play-btn" *ngIf="!showCharacter2Stats" (click)="jugar(2)">Play</button>
    </div>
    <div *ngIf="showCharacter2Stats">
      <p>Strenght: {{ fuerza }}</p>
      <p>Dexterity: {{ destreza }}</p>
      <p>intelligence: {{ inteligencia }}</p>
      <p>Charisma: {{ carisma }}</p>
      <p>Courage: {{ coraje }}</p>
      <button (click)="hideStatistics(2)">Back</button>
    </div>
  </div>
  <div class="card" *ngIf="character2 === undefined  && !crear2">
    <a (click)="showCharacterComponent(2)">+</a>
    <p class="crear">NEW</p>
  </div>
  <app-character-creation class="card" *ngIf="crear2 && ocultarCreacion" (ocultar)="ocultarComponente($event)"></app-character-creation>
  <app-story-creation [charSlot]="2" class="card" *ngIf="jugar2" (ocultar)="ocultarJugarComponente($event)"></app-story-creation> 

  <!-- PERSONAJE 3 -->
  <div class="card character" *ngIf="character3 && !jugar3" >
    <img
      [src]="character3.photoURL"
      alt="Sin imagen"
      *ngIf="!showCharacter3Stats"
    />
    <p>{{ character3.nombre }}</p>
    <p class="char-info">{{ character3.especie }} - {{ character3.rol }}</p>

    <div class="buttons">
      <button
        class="delete-btn"
        (click)="deleteUserChar(3)"
        *ngIf="!showCharacter3Stats"
      >
        Delete
      </button>
      <button
        class="stats-btn"
        (click)="showStatsButton(3)"
        *ngIf="!showCharacter3Stats"
      >
        Stats
      </button>
      <button class="play-btn" *ngIf="!showCharacter3Stats" (click)="jugar(3)">Play</button>
    </div>
    <div *ngIf="showCharacter3Stats">
      <p>Strenght: {{ fuerza }}</p>
      <p>Dexterity: {{ destreza }}</p>
      <p>intelligence: {{ inteligencia }}</p>
      <p>Charisma: {{ carisma }}</p>
      <p>Courage: {{ coraje }}</p>
      <button (click)="hideStatistics(3)">Back</button>
    </div>
  </div>
  <div class="card" *ngIf="character3 === undefined  && !crear3">
    <a (click)="showCharacterComponent(3)">+</a>
    <p class="crear">NEW</p>
  </div>
  <app-character-creation class="card" *ngIf="crear3 && ocultarCreacion" (ocultar)="ocultarComponente($event)"></app-character-creation>
  <app-story-creation [charSlot]="3" class="card" *ngIf="jugar3" (ocultar)="ocultarJugarComponente($event)"></app-story-creation> 

  
</div>
