<!-- <div class="card-container">
  <div class="card" *ngFor="let character of characters">
    <p>{{ character.nombre }}</p>
  </div>
  <div class="card" *ngIf="characters.length < maxCharacterCount">
    <a [routerLink]="['/charactercreation']">+</a>
    <p class="crear">Crear personaje</p>
  </div>
</div> -->

<div class="card-container">
  <!-- PERSONAJE 1 -->
  <div class="card character" *ngIf="character1">
    <img [src]="character1.photoURL" alt="Sin imagen">
    <p>{{ character1.nombre }} </p>
    <p class="char-info"> {{character1.especie}} - {{character1.rol}}</p>

    <div class="buttons">
      <button class="delete-btn" (click)="deleteUserChar(1)">Borrar</button>
      <button class="stats-btn" (click)="showStatsButton(1)">Stats</button>
      <button class="play-btn">Jugar</button>
    </div>
  <div *ngIf="showCharacter1Stats">
    <p>Fuerza: {{fuerza}}</p>
    <p>inteligencia: {{inteligencia}}</p>
    <p>Carisma: {{carisma}}</p>
    <p>Destreza: {{destreza}}</p>
    <p>Coraje: {{coraje}}</p>
    <button (click)="hideStatistics(1)">Volver</button>
  </div>
  </div>
  <div class="card" *ngIf="character1 === undefined">
    <a [routerLink]="['/charactercreation']">+</a>
    <p class="crear">NUEVO</p>
  </div>
  
  <!-- PERSONAJE 2 -->
  <div class="card character" *ngIf="character2">
    <img [src]="character2.photoURL" alt="Sin imagen">
    <p>{{ character2.nombre }} </p>
    <p class="char-info">{{character2.especie}} - {{character2.rol}}</p>

    <div class="buttons">
      <button class="delete-btn" (click)="deleteUserChar(2)" >Borrar</button>
      <button class="stats-btn" (click)="showStatsButton(2)">Stats</button>
      <button class="play-btn">Jugar</button>
    </div>
  <div *ngIf="showCharacter2Stats">
    <p>Fuerza: {{fuerza}}</p>
    <p>inteligencia: {{inteligencia}}</p>
    <p>Carisma: {{carisma}}</p>
    <p>Destreza: {{destreza}}</p>
    <p>Coraje: {{coraje}}</p>
    <button (click)="hideStatistics(2)">Volver</button>
  </div>
  </div>
  <div class="card" *ngIf="character2 === undefined">
    <a [routerLink]="['/charactercreation']">+</a>
    <p class="crear">NUEVO</p>
  </div>

  <!-- PERSONAJE 3 -->
  <div class="card character" *ngIf="character3">
    <img [src]="character3.photoURL" alt="Sin imagen">
    <p>{{ character3.nombre }} </p>
    <p class="char-info"> {{character3.especie}} - {{character3.rol}}</p>

    <div class="buttons">
      <button class="delete-btn" (click)="deleteUserChar(3)">Borrar</button>
      <button class="stats-btn" (click)="showStatsButton(3)">Stats</button>
      <button class="play-btn">Jugar</button>
    </div>
  <div *ngIf="showCharacter3Stats">
    <p>Fuerza: {{fuerza}}</p>
    <p>inteligencia: {{inteligencia}}</p>
    <p>Carisma: {{carisma}}</p>
    <p>Destreza: {{destreza}}</p>
    <p>Coraje: {{coraje}}</p>
    <button (click)="hideStatistics(3)">Volver</button>
  </div>
  </div>
  <div class="card" *ngIf="character3 === undefined">
    <a [routerLink]="['/charactercreation']">+</a>
    <p class="crear">NUEVO</p>
  </div>
</div>