.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background: rgba(0, 0, 0, 0.7);
  width: 28rem;
  height: 40rem;
  border-radius: 4px;
  margin-right: 2rem;

  transition: all 0.3s ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:last-child {
  margin-right: 0;
}

.card a {
  text-decoration: none;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.card p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.card .char-info {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.buttons button {
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: #2c2c2c 2px solid;
  border-radius: 4px;
  padding: 0 20px;
  transition: 0.3s ease-out;
  margin: 1rem 0.5rem;
}

.buttons button:hover {
  background-color: #2c2c2c;
}

.card:hover {
   transform: scale(1.01);  
} 

.card img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  object-fit: cover;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (max-width: 1400px) {
  .card{
  height: 28rem;
  width: 20rem;
  }

  .buttons button{
  padding: 0 10px;
  font-size: 0.9rem;
  }
}