
<div class="form" *ngIf="firstSection">
    <p class="title">CREÁ TU HISTORIA</p>
    <div class="drop" id="tipo">
        <label for="tipoSelect">Tipo:</label>
        <select id="tipoSelect" [(ngModel)]="selectedTipo" required>
        <option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{ tipo.viewValue }}
        </option>
        </select>
    </div>

    <div class="drop" id="lugar">
        <label for="lugarSelect">Lugar:</label>
        <select id="lugarSelect" [(ngModel)]="selectedLugar" required>
        <option *ngFor="let lugar of lugares" [value]="lugar.value">
            {{ lugar.viewValue }}
        </option>
        </select>
    </div>

    <a (click)="next()">Siguiente</a>
    <a class="back" (click)="volver()">Volver</a>
</div>

<p class="title" *ngIf="tagsSection">ELIGE TAGS</p>
<div class="tags-container" *ngIf="tagsSection">
  <label
    *ngFor="let tag of arrayTags"
    class="tag-label"
    [ngClass]="{ 'selected': selectedTags.includes(tag) }"
    (click)="toggleTagSelection(tag)"
  >
    {{ tag }}
  </label>
  <a >Comenzar</a>
</div>