
<div class="form" *ngIf="firstSection">
    <p class="title">CREATE YOUR STORY</p>
    <div class="drop" id="tipo">
        <label for="tipoSelect">Type:</label>
        <select id="tipoSelect" [(ngModel)]="selectedTipo" required>
        <option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{ tipo.viewValue }}
        </option>
        </select>
    </div>

    <div class="drop" id="lugar">
        <label for="lugarSelect">Place:</label>
        <select id="lugarSelect" [(ngModel)]="selectedLugar" required>
        <option *ngFor="let lugar of lugares" [value]="lugar.value">
            {{ lugar.viewValue }}
        </option>
        </select>
    </div>

    <a (click)="next()">Next</a>
    <a class="back" (click)="volver()">Back</a>
</div>

<p class="title" *ngIf="tagsSection">CHOOSE TAGS</p>
<div class="tags-container" *ngIf="tagsSection">
  <div class="tag-labels">
    <label
    *ngFor="let tag of arrayTags"
    class="tag-label"
    [ngClass]="{ 'selected': selectedTags.includes(tag) }"
    (click)="toggleTagSelection(tag)"
    >
      {{ tag }}
    </label>
  </div>
  <a (click)="refillArrayTags()">Regenerate Tags</a>
  <a class="back"(click)="sendCharacterAndTagsPrompt()" [routerLink]="['/story']">Start</a>
</div>