header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #ffaa21;
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar .boton-jugar{
    color: #ffaa21;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: currentColor 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

}

.navbar .boton-jugar:hover{
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em currentColor, 0 0 0.5em 0 currentColor;
    position: relative;
    transition: all 0.2s ease; 
}

.historias{
    font-size: 1.15rem;
    color: #ffaa21;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
    border: #ffaa21 2px solid;
    padding: 10px;
    border-radius: 0.5rem;
}

.usuario img{
    background-color: #ffaa21;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    margin-left: 2.5rem;
    border: #ffaa21 2px solid;
}

