header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #ffaa21;
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: nav-load var(--nav-load-time) ease-in;
    
}

.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;

    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

.navbar .boton-jugar{
    color: #ffaa21;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: currentColor 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

}

.navbar .boton-jugar:hover{
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em currentColor, 0 0 0.5em 0 currentColor;
    position: relative;
    transition: all 0.2s ease; 
}

.historias{
    font-size: 1rem !important;
    text-decoration: none;
    font-weight: 300 !important;
    border: rgba(255,170,33, .8 ) 2px solid;
    padding: 5px 10px;
    border-radius: 4px;
}

.usuario img{
    background: transparent;
    color:#fff;
    opacity: .9;
    width: 3rem;
    height: 3rem;
}

.historias:hover{
    background-color: rgba(255,170,33, .8 );
    color: #000;
    transition: all 0.5s ease;
}

/* NAV LOAD ANIMATIONS */

@keyframes nav-load {
0% {
    transform: translateY(-100%);
}

100% {
    transform: translateY(0);
}
}

@keyframes nav-link-load {
0% {
    transform: scale(0);
}

90% {
    transform: scale(1.1);
}

100% {
    transform: scale(1);
}
}

@keyframes nav-first-link-load {
0% {
    transform: translateX(-1000%);
}

90% {
    transform: translateX(50%);
}

100% {
    transform: translateX(0);
}
}

@keyframes nav-last-link-load {
0% {
    transform: translateX(1000%);
}

90% {
    transform: translateX(-50%);
}

100% {
    transform: translateX(0);
}
}

  
  

