<div *ngIf="auth.user$ | async; then authenticated else guest">
    
</div>

<ng-template #guest>
    <header>
        <a href="#" class="logo">
            <!--<img src="" alt="AIventure logo"> -->
            AIVENTURE
        </a>
    
        <nav class="navbar">
            <a>About</a>
            <a href="#">Contact</a>
            <a (click)="auth.googleSignin()"class="boton-jugar">Sign in</a>
        </nav>
    </header>
</ng-template>

<ng-template #authenticated>
    <header>
        <a href="#" class="logo">
            <!--<img src="" alt="AIventure logo"> -->
            AIVENTURE
        </a>
    
        <nav class="navbar">
            <a (click)="scrollToFAQ()">FAQ</a>
            <a class="historias" routerLink="/add-actions" >{{historias}} Remaining Actions</a>
            <a class="usuario" (click)="auth.getCurrentUser()" [matMenuTriggerFor]="profileMenu"><img [src]="icono_path" alt="Perfil"></a>
        </nav>
        <mat-menu #profileMenu="matMenu" class="profile">
            <app-user-profile></app-user-profile> 
        </mat-menu>
    </header>
</ng-template>
