<section class="guide">
    <h3 class="guide-title">PREGUNTAS FRECUENTES</h3>
    <div class="container">
        <p class="question">¿Qué es AIVENTURE?</p>
        <p class="answer"> - AIVENTURE es un juego de historias interactivas, al estilo "elige tu propia aventura", mezclado con un juego de rol.</p>
        <p class="question">¿Como hago para jugar?</p>
        <p class="answer"> - Para jugar debes ir hacia la sección de <a [routerLink]="['/characters']">creacion de personaje</a> y pulsa donde dice "nuevo" para crear un personaje</p>
        <p class="answer"> - Una vez creado tu personaje, dale al boton de "jugar" que esta sobre la carta de tu personaje y configura tu historia</p>
        <p class="question">¿Qué pasa si no me quedan historias?</p>
        <p class="answer"> - Si no te quedan historias puedes adquirir más en la seccion de <a href="">añadir historias</a></p>

    </div>
</section>
