<section class="guide">
    <h3 class="guide-title">FREQUENTLY ASKED QUESTIONS</h3>
    <div class="container">
        <p class="question">¿What is AIVENTURE?</p>
        <p class="answer"> - AIVENTURE is an interactive story game, "choose your own adventure" style mixed with a spice of the roleplay genre .</p>
        <p class="question">¿How to play?</p>
        <p class="answer"> - In order to play, you must go to the <a [routerLink]="['/characters']">character creation</a> section and click the empty card where the text "new" appears, then create your character.</p>
        <p class="answer"> - Once the character is created press the play button located on the character card and set up your story to your liking</p>
        <p class="question">¿What if I don't have any actions left?</p>
        <p class="answer"> - If you have no more actions left, then you can get more at the <a routerLink="/add-actions">add actions</a> section.</p>
        <p class="question">¿How can I have the best user experience with AIventure's AI?</p>
        <p class="answer"> - In order to have the best user experience possible, all inputs that implie an action must start with your character's name followed by the action you want to perform.</p>
        <p class="answer"> - Example: Tony shouts to his comrades to back off.</p>
        <p class="question">¿What else can I do with AIventure's AI?</p>
        <p class="answer"> - Keep in mind that our model allows you to explore and do unexpected things, you can create events and characters, but also have conversations with said characters.</p>
        <p class="answer"> - Example: Tony encounters a Giant Spider with venom dripping from it's fangs.</p>
        <p class="question">¿How long are AIventure stories?</p>
        <p class="answer"> - The lenght of the story depends on two factors, first on the number of actions you have left. Second, on how long you can go.</p>
        <p class="answer"> - Sometimes, if the context gives foot to the AI to end the story, it will but otherwise you can keep going forever and end the story yourself with the "End" button.</p>
    </div>
</section>
