<section class="guide">
    <h3 class="guide-title">FREQUENTLY ASKED QUESTIONS</h3>
    <div class="container">
        <p class="question">¿What is AIVENTURE?</p>
        <p class="answer"> - AIVENTURE is an interactive story game, "choose your own adventure" style mixed with a spice of the roleplay genre .</p>
        <p class="question">¿How to play?</p>
        <p class="answer"> - In order to play, you must go to the <a [routerLink]="['/characters']">character creation</a> section and click the empty card where the text "new" appears, then create your character.</p>
        <p class="answer"> - Once the character is created press the play button located on the character card and set up your story to your liking</p>
        <p class="question">¿What if I don't have any actions left?</p>
        <p class="answer"> - If you have no more actions left, then you can get more at the <a href="">add actions</a> section</p>

    </div>
</section>
