.container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 2rem;
    width: 70rem;
    border-bottom: 1px solid #2c2c2c;
}

.container > .buy{
    transition: transform 0.3s;
}

.container:hover > .buy{
    transform: scale(1.05);
}

h3{
    font-size: 1.5rem;
    text-align: center;
    
    font-weight: 500;
    color: #fff;
}

span{
    color: #ffaa21;
}
