<body class="magical-dark-forest">
    <div class="container">
        <h1>MY STORY</h1>
    <main>
        <p class="story">
            {{story}}
        </p>
    </main>
    <section class="prompt">
        <textarea name="prompt-textarea" id="prompt-textarea" maxlength="100" placeholder="A healer appears to support me..." (ngModel)="userChoice"></textarea>
        <button (click)="continueStory()">Submit</button>
        <div class="buttons">
            <button> Do </button>
            <button> Talk </button>
            <button> End </button>
        </div>
    </section>
    </div>
</body>
