<div class="dropdown">
    <nav-bar></nav-bar>
    <div class="form">
      <div class="drop" id="rol">
        <label for="rolSelect">Rol:</label>
          <select id="rolSelect" [(ngModel)]="selectedRol">
            <option *ngFor="let rol of rols" [value]="rol.value">{{ rol.viewValue }}</option>
          </select>
          <span class="arrow"></span>
      <div>

      <div class="drop" id="especie">
        <label for="especieSelect">Especie:</label>
        <select id="especieSelect" [(ngModel)]="selectedEspecie">
          <option *ngFor="let especie of especies" [value]="especie.value">{{ especie.viewValue }}</option>
        </select>
        <span class="arrow"></span>
      </div>

      <div class="drop" id="sexo">
        <label for="sexoSelect">Sexo:</label>
        <select id="sexoSelect" [(ngModel)]="selectedSexo">
          <option *ngFor="let sexo of sexos" [value]="sexo.value">{{ sexo.viewValue }}</option>
        </select>
        <span class="arrow"></span>
      </div>

    <div class="drop" id="cabello">
      <label for="cabelloSelect">Tipo de Cabello:</label>
      <select id="cabelloSelect" [(ngModel)]="selectedCabello">
        <option *ngFor="let cabello of cabellos" [value]="cabello.value">{{ cabello.viewValue }}</option>
      </select>
      <span class="arrow"></span>
    </div>

    <div class = "drop" id="musculatura">
      <label for="musculaturaSelect">Cuerpo:</label>
      <select id="musculaturaSelect" [(ngModel)]="selectedMusculatura">
        <option *ngFor="let musculatura of musculaturas" [value]="musculatura.value">{{ musculatura.viewValue }}</option>
      </select>
      <span class="arrow"></span>
    </div>

    <div class="drop" id="nombre">
      <label for="nombreSelect">Nombre:</label>
        <input matInput (input)="onNombreChange($event)">    
    </div>

    <a>Siguiente</a>
    </div>
</div>
